    .textimonials {
        height: 500px;
        background: url("../images/tree.png") center no-repeat;
        background-size: cover;
    }
    
    .textimonials__text {
        margin: 0 auto;
        height: 230px;
        width: 735px;
        padding-top: 70px;
        text-align: center;
        font-size: 16px;
        color: #d5d3dc;
        font-family: 'PlayfairDisplayRegular', Tahoma, sans-serif;
        &::before {
            display: block;
            content: "";
            margin: 0 auto 43px;
            width: 33px;
            height: 27px;
            background: url("../images/quotes.png") center no-repeat;
        }
    }
    
    .textimonials__list {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 54px auto 0;
        justify-content: space-between;
        width: 391px;
        height: 270px;
    }
    
    .textimonials__img-title {
        margin: 0 -25px auto;
        width: 121px;
        text-align: center;
        text-transform: uppercase;
        font-size: 14px;
        font-family: 'Roboto-Black', Tahoma, sans-serif;
        color: $white;
    }
    
    .textimonials__img-text {
        margin: 5px -25px 45px -25px;
        text-align: center;
        width: 121px;
        font-size: 13px;
        font-family: 'Roboto-Light', Tahoma, sans-serif;
        color: #827c97;
        text-transform: uppercase;
    }
    
    .textimonials__img {
        height: 46px;
        width: 46px;
        margin: 0 auto;
        position: relative;
        padding: 0;
    }
    
    .textimonials__img_selected {
        width: 70px;
        height: 164px;
        margin-bottom: 85px;
        text-decoration: none;
    }
    
    .textimonials__nav {
        background-color: inherit;
        border: none;
    }
    
    @media screen and (max-width:$desktop) {
        .textimonials__text {
            width: 635px;
        }
    }
    
    @media screen and (max-width:$tablet) {
        .textimonials__text {
            width: 480px;
        }
    }
    
    @media screen and (max-width:$large-mobile) {
        .textimonials {
            height: 600px;
        }
        .textimonials__text {
            width: 320px;
        }
        .textimonials__list {
            margin-top: 150px;
            width: 320px;
        }
    }
    
    @media screen and (max-width:$small-mobile) {
        .textimonials__text {
            width: 300px;
        }
        .textimonials__list {
            width: 300px;
        }
    }