@media screen and (max-width:1220px) {
    .container {
        width: 940px;
    }
}

@media screen and (max-width:1024px) {
    .container {
        width: 748px;
    }
    .header__panel {
        justify-content: space-between;
    }
    .nav {
        width: 400px;
        font-size: 13px;
    }
    .itro {
        display: block;
    }
    .intro__title {
        font-size: 22px;
    }
    .our-story {
        width: 748px;
        justify-content: space-between;
    }
    .expertize__list {
        width: 748px;
    }
    .expertize__item {
        width: 240px;
    }
    .team {
        height: 650px;
    }
    .team__list {
        justify-content: space-around;
    }
    .team__item {
        width: 170px;
        height: 240px;
    }
    .team__item-title::before {
        width: 168px;
        height: 170px;
    }
    .work {
        height: 1200px;
    }
    .work__top-panel {
        justify-content: space-around;
    }
    .work__list {
        height: 830px;
        grid-template-columns: 33.3333% 33.3333% 33.3333%;
        grid-template-rows: 200px 200px 200px 200px 200px 200px;
        opacity: 1;
    }
    .textimonials__text {
        width: 635px;
    }
    .contact {
        width: 748px;
        height: 1250px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .contact__title {
        text-align: center;
    }
    .post__text {
        width: 100%;
    }
    .post__button {
        margin: auto;
    }
    .contact__panel {
        width: 500px;
    }
    .contact__list {
        justify-content: space-around;
    }
    .contact__title-logo {
        text-align: center;
    }
    .footer__info {
        margin-left: 15px;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .footer__title {
        margin: 10px 0 15px;
    }
    .footer {
        height: 520px;
    }
    .footer__nav {
        justify-content: space-around;
    }
}

@media screen and (max-width:768px) {
    .container {
        width: 480px;
    }
    .header__panel {
        flex-direction: column;
    }
    .nav {
        width: 350px;
        justify-content: space-around;
    }
    .nav__list {
        display: flex;
        justify-content: space-around;
        flex-flow: row wrap;
        align-items: flex-start;
    }
    .intro__title {
        margin-top: 100px;
    }
    .intro__text {
        width: 480px;
    }
    .our-story {
        margin-top: 20px;
        width: 480px;
        padding: 0;
    }
    .story__img {
        margin-top: 20px;
        width: 180px;
        height: 170px;
    }
    .our-story__about {
        width: 300px;
    }
    .expertize {
        height: 950px;
    }
    .expertize__list {
        width: 480px;
    }
    .expertize__item {
        width: 220px;
    }
    .team__item {
        width: 120px;
        height: 170px;
    }
    .team__item-title::before {
        width: 118px;
        height: 100px;
    }
    .textimonials__text {
        width: 480px;
    }
    .contact {
        width: 480px;
    }
    .contact__panel {
        width: 480px;
    }
    .footer {
        height: 700px;
    }
}

@media screen and (max-width:480px) {
    .container {
        width: 320px;
    }
    .nav {
        width: 300px;
    }
    .intro__text {
        width: 320px;
    }
    .our-story {
        padding: 0;
        width: 320px;
        flex-direction: column;
        align-items: center;
        height: 600px;
        justify-content: flex-start;
    }
    .our-story__title {
        text-align: center;
    }
    .our-story__about {
        width: 320px;
        text-align: justify;
    }
    .story__button {
        margin: 0 auto;
        margin-top: 15px;
    }
    .expertize {
        height: 1754px;
    }
    .expertize__list {
        width: 320px;
    }
    .expertize__item {
        padding: 0;
        width: 300px;
        border: 1px solid #ebebeb;
    }
    .team {
        height: 780px;
    }
    .team__list {
        display: flex;
        flex-flow: row wrap;
        margin-top: 43px;
        width: 100%;
    }
    .team__item {
        width: 130px;
        margin: 10px;
    }
    .team__item-title::before {
        width: 128px;
        height: 110px;
    }
    .team__subtitle {
        margin-top: 20px;
    }
    .textimonials {
        height: 600px;
    }
    .textimonials__text {
        width: 320px;
    }
    .textimonials__list {
        margin-top: 150px;
        width: 320px;
    }
    .contact {
        flex-flow: column nowrap;
        width: 320px;
        height: 1650px;
    }
    .contact__title {
        width: 320px;
    }
    .post__text {
        width: 320px;
    }
    .post__message {
        width: 320px;
    }
    .contact__panel {
        width: 320px;
    }
    .contact__title-logo {
        padding: 0;
    }
    .footer__info {
        margin: 0;
    }
    .footer__text {
        width: 320px;
    }
    .footer__contacts {
        margin: 0;
        width: 320px;
    }
    .footer__search {
        width: 320px;
    }
    .footer__newsletter {
        width: 205px;
    }
    .footer__nav {
        display: block;
    }
    .footer__nav-list {
        justify-content: space-around;
    }
}

@media screen and (max-width:320px) {
    .container {
        width: 300px;
    }
    .header {
        height: 620px;
    }
    .nav {
        width: 200px;
        height: 50px;
    }
    .intro__title {
        margin-top: 50px;
    }
    .intro__text {
        margin-top: 10px;
        width: 300px;
        text-align: justify;
    }
    .intro__list {
        margin-top: 50px;
    }
    .our-story {
        width: 300px;
        height: 500px;
    }
    .story__img {
        width: 115px;
        height: 120px;
    }
    .our-story__about {
        width: 300px;
    }
    .expertize__list {
        width: 300px;
    }
    .expertize__item {
        width: 240px;
    }
    .work {
        height: 1600px;
    }
    .work__top-panel {
        flex-direction: column;
    }
    .work__list {
        height: 1200px;
        grid-template-columns: 50% 50%;
        grid-template-rows: 200px 200px 200px 200px 200px 200px;
        opacity: 1;
    }
    .textimonials__text {
        width: 300px;
    }
    .textimonials__list {
        width: 300px;
    }
    .contact {
        width: 300px;
    }
    .contact__title {
        width: 300px;
    }
    .post__text {
        width: 300px;
    }
    .post__message {
        width: 300px;
    }
    .contact__panel {
        width: 300px;
    }
    .footer__text {
        width: 300px;
    }
    .footer__contacts {
        width: 300px;
    }
    .footer__search {
        width: 300px;
    }
}